body{
    background-color: #aaa;
}
#offcanvasNavbar{
    transition: opacity 0.3s;
}
#offcanvasNavbar:hover{
    opacity: 1 !important;
}
#initialUserPost{
    width: 50%; 
    background-color: transparent !important;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#message{
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
  
}
.help{
    background-color: #000;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    margin-top: 40px;
}
.block{
    border-radius: 8px;
    background-color: black;
    box-shadow: 3px 4px 5px 5px orange;
    color: white;
    max-height: 450px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    overflow: hidden;
    transition: opacity 0.3s;
}
.block:hover{
    opacity: 1 !important;
}
.block-text{
  margin-top: 20px;  
}
.btn{
    background-color: black !important;
    position: absolute;
    left: 45%;
    width: 120px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.btn:hover{
    background-color: #aaa !important;
    box-shadow: 3px 4px 5px #52801f;
    color: white;
    opacity: 100%;
}
.color-animation {
    color: #7abe62;
    animation-name: color-change;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes color-change {
    0% { color: orange; }
    25% { color: #e6b6bb; }
    50% { color: yellow; }
    75% { color: #79cac1; }
    100% { color: orange; }
  }
  .box-shadow-animation {
    animation-name: box-shadow-change;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes box-shadow-change {
    0% {
        box-shadow: 0 0 10px orange;
    }
    25% {
        box-shadow: 0 0 10px #e6b6bb;
    }
    50% {
        box-shadow: 0 0 10px yellow;
    }
    75% {
        box-shadow: 0 0 10px #79cac1;
    }
    100% {
        box-shadow: 0 0 10px orange;
    }
}

#posts{
    width: 65%;
    opacity: 0.8;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
hr{
  
}
/* Spotify Player */
.spotify-player {
    position: fixed;
    top: 50%;
    right: 0;
    width: 400px;
    height: 200px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px 0 0 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.1;
    transition: opacity 0.3s;
}
.spotify-player:hover {
    opacity: 1;
}
.spotify-player iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px 0 0 8px;
}
#background-image{
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 80%; 
    min-height: 60%;
    z-index: -1;
    opacity: 0.3;
}

/* Sticky Profile Box */
.sticky-profile-box {
    position: fixed;
    top: 20%;
    left: 2%;
    width: 275px;
    height: 400px;
    background-color: black;
    padding: 30px;
    border-radius: 0 8px 8px 0;
    box-shadow: 3px 4px 5px #52801f;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.sticky-profile-box:hover {
    opacity: 1;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em;
    margin-left: 15%;
}
/* font styles */
.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .chakra-petch-light {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .chakra-petch-medium {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .chakra-petch-semibold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .chakra-petch-light-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .chakra-petch-regular-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .chakra-petch-medium-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .chakra-petch-semibold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .chakra-petch-bold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  @media (max-width: 1200px) {
    #initialUserPost, .help, .block, .spotify-player, #posts {
        width: 70%;
    }

    .btn {
        left: 50%;
    }

    .sticky-profile-box {
        width: 250px;
        height: 350px;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 768px) {
    #initialUserPost, .help, .block, .spotify-player, #posts {
        width: 90%;
    }

    .btn {
        left: 50%;
    }

    .sticky-profile-box {
        width: 220px;
        height: 320px;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    #initialUserPost, .help, .block, .spotify-player, #posts {
        width: 100%;
    }

    .btn {
        left: 50%;
        width: 100px;
    }

    .block {
        padding: 20px;
    }

    .sticky-profile-box {
        width: 200px;
        height: 300px;
    }

    .profile-pic {
        width: 80px;
        height: 80px;
    }
}
