body{
    background-color: #aaa;
}
#initialUserPost{
    border: 5px solid red;
    width: 70%;
}
#message{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/* Spotify Player */
.spotify-player {
    position: fixed;
    top: 50%;
    right: 0;
    width: 400px;
    height: 200px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px 0 0 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.1;
    transition: opacity 0.3s;
}
.spotify-player:hover {
    opacity: 1;
}
.spotify-player iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px 0 0 8px;
}