


body{
    background-color: #aaa;
}
#background-image{
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    opacity: 0.8;
}
/* start of youtube css */
.video{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 3%;
    z-index: -2;
    opacity: 0.9;
}
.help{
    background-color: #000;
    border-radius: 8px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    opacity: 0.8;
    margin-bottom: 70px;

}
#youtube-video{
   justify-content: center;
   margin-left: 20%;
}
/* end of youtube css */
.text-content{
    border-radius: 8px;
    background-color: #000;
    opacity: 0.8;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.color-animation {
    color: #7abe62;
    animation-name: color-change;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes color-change {
    0% { color: orange; }
    25% { color: #e6b6bb; }
    50% { color: yellow; }
    75% { color: #79cac1; }
    100% { color: orange; }
  }
  .box-shadow-animation {
    animation-name: box-shadow-change;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes box-shadow-change {
    0% {
        box-shadow: 0 0 10px orange;
    }
    25% {
        box-shadow: 0 0 10px #e6b6bb;
    }
    50% {
        box-shadow: 0 0 10px yellow;
    }
    75% {
        box-shadow: 0 0 10px #79cac1;
    }
    100% {
        box-shadow: 0 0 10px orange;
    }
}

#submitButton{
    background-color: black;

}
#submitButton:hover{
    background-color: #aaa;
    box-shadow: 3px 4px 5px #52801f;
    color: white;
    opacity: 100%;
}
#section-break{
    margin-bottom: 80px
}
#offcanvasNavbar{
    z-index: 1050; /* Bootstrap's default z-index for offcanvas */
}
/* font styles */
.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .chakra-petch-light {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .chakra-petch-medium {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .chakra-petch-semibold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .chakra-petch-light-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .chakra-petch-regular-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .chakra-petch-medium-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .chakra-petch-semibold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .chakra-petch-bold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
/* Footer styles */
.footer {
    background-color: #0e5135;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
    opacity: 0.9;
    margin-top: 40px;
}
.footer-content {
    max-width: 800px;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
     font-size: small;
}
.footer h2 {
    margin-top: 0;
    font-size: 24px;
}

.footer p {
    margin: 5px 0;
    font-size: 20px !important;
}
.section-break{
    margin: 20px;
}
@media (max-width: 1200px) {
    .video, .help, .text-content, .footer-content {
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .video, .help, .text-content {
        margin-top: 15%;
    }

    #youtube-video {
        margin-left: 10%;
    }
}

@media (max-width: 768px) {
    .video, .help, .text-content, .footer-content {
        max-width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    #youtube-video {
        margin-left: 5%;
    }
}

@media (max-width: 480px) {
    .video, .help, .text-content, .footer-content {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 15px;
    }

    #youtube-video {
        margin-left: 0;
    }
}
