body{
    background-image: url(https://deadbydaylight.com/static/ba329474c2a982956abc32cc4b67a120/bb1c4/Screenshot_3_33879d7bc3.jpg);
    background-size:cover;
    background-position:center;
    top: 0;
  }
  .navbar{
    position: absolute;
    top: 0;
    width: 100%;
  }
  #offcanvasNavbar{
    background-color: #FF6600;
    opacity: 0.8;
  }
#titleBox{
    border: 5px solid #FF6600 ;
    border-radius: 10px;
    background-image:linear-gradient(#666666,#000000 );
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-top: 120px;
}
#title{
    text-align: center;
    color: #fd934d ;
    text-shadow: 3px 2px 3px #3d5a66 ;
}
#description{
    text-align: center;
    color: #FF6600 ;
    text-shadow: 3px 2px 4px #3d5a66 ;
    font-size: 17px;
}
label{
    color: #FF6600 ;
    text-shadow: 3px 2px 4px #3d5a66 ;
}
#surveyBox{
    border: 5px solid #FF6600 ;
    border-radius: 50px;
    max-width: 650px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 5px;
    background-image:linear-gradient(#666666,#000000 );
    margin-top: 60px;
}
fieldset{
    border-color:#FF6600 ;
}
#submit{
    background-color: #FFEAD4;
}
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    
}

select{
    width: 575px;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #d1a16e ;
}
#username{
    background-color:#d1a16e;
    color: #000000;
    border: 1px solid #fd934d;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 550px;

}
#email{
    background-color:#d1a16e;
    border: 1px solid #fd934d;
    margin-bottom: 20px;
    width: 550px;
    margin-top: 5px;
}
#name{
    background-color: #d1a16e;
    border: 1px solid #fd934d;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 550px;
    
}
#textArea{
    background-color: #d1a16e;
    border: 1px solid #fd934d;
    width: 575px;
    margin-top: 5px;
}
legend{
    color: #FF6600 ;
    text-shadow: 3px 2px 4px #3d5a66 ;
}
fieldset{
    margin-bottom: 15px;
    
}
#inputMessage{
    color: #FF6600 ;
    text-shadow: 3px 2px 4px #3d5a66 ;
}
#submit{
    width: 575px;
    margin-top: 20px;
    background-color: #6e8b97;
    border: 1px solid #3d5a66;
    color: #000 ;
}
span{
    color: #FF6600 ;
    text-shadow: 3px 2px 4px #3d5a66 ;
}
/* font styles */
.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .chakra-petch-light {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .chakra-petch-medium {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .chakra-petch-semibold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .chakra-petch-light-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .chakra-petch-regular-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .chakra-petch-medium-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .chakra-petch-semibold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .chakra-petch-bold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  .footer {
    background-color: #FF6600;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
    opacity: 0.8;
    margin-top: 40px;
}
.footer-content {
    max-width: 800px;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
     font-size: small;
}
.footer h2 {
    margin-top: 0;
    font-size: 24px;
}

.footer p {
    margin: 5px 0;
    font-size: 20px !important;
}
.section-break{
    margin: 20px;
}